<h1>All restaurants</h1>

<ul class="list-unstyled list-group mb-2">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><div class="d-flex flex-row"><%= restaurant.name %> | <%= restaurant.category.capitalize %> | In: <%= restaurant.address %></div> <div class="d-flex flex-row-reverse"><%= link_to "View details", restaurant_path(restaurant), class: "btn btn-primary" %></div></li>
  <% end %>
</ul>

<p><%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-primary" %></p>
